<% if is_admin? %>
<h1> <%= @user.name %> </h1>
<h1> <%= @user.email %> </h1>
<%= link_to "#{@user.name} Clients", user_clients_path(@user) %>
<% else %>
    <h1> Hi <%= @user.name %> </h1>
<% end %>


